#searchJumbo {
  margin-top: 100px;
  min-height: 500px;
  border-radius: 100%;
  background-color: green;
  #logoContainer {
    vertical-align: middle;
    text-align: center;
    margin: 100px;
  }
  #searchContainer {
    margin-top: 100px;
    text-align: center;
    font-size: 3em;
  }
  #userSearch{
    line-height: 20px;
  }
  #searchSubmit {
    // background-color: white;
    color: black;
    border-radius: 50%;
    min-height: 75px;
    // border: 3px outset gray;
  }
  #searchSubmit:hover {
    background-color: black;
    color: white;
    border: 3px inset gray;
  }
}

#resultsContainer {
  text-align: center;
  background-color: green;
}
.jumbotron {
  background-color: black;
}

body {
  background-color: black;
}

img {
  margin-right: 100px;
  padding-right: 100px;
}
